/* Root selector with all my variables */
:root {
    /* Colors */
    --dark-black: #0A0C14;
    --orange: #D05D61;
    --white: #FFFFFF;
    /* Font usables */
    --font: bebas-neue-by-fontfabric, sans-serif;
    --style: normal;
}

::selection {
    background: rgba(255, 255, 255, 0);
}

/* Below is the main font family classes */

.haboro-soft {
    font-family: haboro-soft, sans-serif;
    font-weight: 200;
    font-style: var(--style);
    font-size: 20px;
    line-height: 2.6rem;
    opacity: 80%;
}
.bebas-neue-thin {
    font-family: var(--font);
    font-weight: 100;
    font-style: var(--style);
}

.bebas-neue-light {
    font-family: var(--font);
    font-weight: 200;
    font-style: var(--style);
}

.bebas-neue-book {
    font-family: var(--font);
    font-weight: 300;
    font-style: var(--style);
}

.bebas-neue-regular {
    font-family: var(--font);
    font-weight: 400;
    font-style: var(--style);
}

.bebas-neue-bold {
    font-family: var(--font);
    font-weight: 700;
    font-style: var(--style);
}

/* Main styling for the body */
.main-background {
    height: 800px;
    background-color: var(--dark-black);
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--white);
    cursor: default;
}

/* Just a border class to check on elements */
.border {
    border: 1px solid rgba(255, 255, 255, 0.205);
}

/* Text color orange */
.orange {
    color: var(--orange);
}

/* Styling of the navigation container */
.navigation {
    height: 200px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
}

/* Styling the section element inside the navigation */
.top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    transform: rotateX(60deg);
    letter-spacing: 0.1rem;
    opacity: 80%;
}

/* Making sure the text is inline in the navigation */
.navigation p {
    display: inline;
}

/* Styling the x icon in the corner */
.x {
    font-size: 25px;
}

/* Dimensions for the introduction */
.intro {
    width: 600px;
    margin: auto;
    height: 500px;
    position: relative;
    z-index: 5;
}

/* A universal style for paragraph elements */
.large-text {
    font-size: 70px;
}

.header {
    margin-bottom: 30px;
}
/* Underline effect on header */
.header:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 10;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.603);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  /* Underline effect on header */
  .header:hover:after { 
    width: 100%; 
    left: 0; 
  }

/* Universal styling for buttons */
.button {
   border: 1px solid var(--white);
   background-color: rgba(255, 255, 255, 0);
   padding: 20px 50px;
   margin-top: 50px;
   color: white;
   transition: all 200ms ease-in-out;
   opacity: 30%;
   letter-spacing: 0.3rem;
}

/* Buttons when hover */
.button:hover {
    border-radius: 50px;
    border: 1px solid var(--orange);
    opacity: 80%;
}

/* Styling of the bottom section of the landig page */
.bottom-nav {
    width: 100%;
    margin: auto;
    position: relative;
    top: 100px;
}

/* Makes the time sections spread */
.times {
    display: flex;
    justify-content: space-between;
    opacity: 80%;
}

/* Makes the paragraph elements in the times section inline */
.times p{
 display: inline;
}

#planner-container {
    height: 800px;
    background-color: var(--dark-black);
    display: flex;
    color: white;
}

.table {
    width: 85%;
    margin: auto;
    height: 75%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.grid-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.grid-box:hover {
    border: 1px solid var(--orange);
}

.time-text {
    opacity: 60%;
}

.text-box {
    width: 80%;
    height: 80%;
    position: relative;
    cursor: default;
}

.task-box {
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 10px;
    letter-spacing: 0.3rem;
}

/* Below are media queries */

@media screen and (max-width: 1000px){

    #planner-container {
        height: 1500px;
    }

    .table {
        height: 90%;
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .intro {
        width: 80%;
    }

    .haboro-soft {
        font-size: 17px;
        line-height: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .large-text {
        font-size: 10vw;
    }

    #planner-container {
        height: 3000px;
    }

    .table {
        grid-template: repeat(8, 1fr) / 100%;
    }
}